<a href="https://colab.research.google.com/github/rogercost/voice-bird-id/blob/master/train_synthrec_l1_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# prompt: Import a pickle file from my Google Drive into a pandas dataframe

import pandas as pd
import pickle

from google.colab import drive
drive.mount('/content/gdrive')

file_path = '/content/gdrive/My Drive/synthetic_recordings.pkl'

try:
  with open(file_path, 'rb') as file:
    df = pickle.load(file)

  if isinstance(df, pd.DataFrame):
    print("Pickle file loaded successfully into a pandas DataFrame.")
    # Now you can work with the DataFrame 'df'
    print(df.head()) # Example: Display first 5 rows
  else:
    print("The loaded object is not a pandas DataFrame.")

except FileNotFoundError:
  print(f"Error: File not found at '{file_path}'. Please check the file path.")
except Exception as e:
  print(f"An error occurred: {e}")

Mounted at /content/gdrive
Pickle file loaded successfully into a pandas DataFrame.
                           name                              family  \
0  Black-bellied Whistling-Duck  Ducks, Geese, and Swans (Anatidae)
1  Black-bellied Whistling-Duck  Ducks, Geese, and Swans (Anatidae)
2  Black-bellied Whistling-Duck  Ducks, Geese, and Swans (Anatidae)
3  Black-bellied Whistling-Duck  Ducks, Geese, and Swans (Anatidae)
4  Black-bellied Whistling-Duck  Ducks, Geese, and Swans (Anatidae)

                                           embedding  \
0  [-0.005670225713402033, 0.03125672787427902, 0...
1  [-0.03728988766670227, 0.025586403906345367, -...
2  [-0.02664249949157238, 0.04850178211927414, 0....
3  [-0.03514464199542999, 0.026959339156746864, 0...
4  [-0.05087177827954292, 0.012625874020159245, 0...

                                       raw_recording
0  Okay, so I've got a duck here, good size, mayb...
1  Okay, little bit better view now. Standing by ...
2  There! Finally flying! Okay, definitely see a ...
3  Still pretty far away, but I can see a duck-li...
4  Landing now. See the pink legs sticking out ag...

In [8]:
# prompt: Show me the counts of each unique value of "family" in descending order of count.

print(df['family'].value_counts(ascending=False).tolist())

[800, 780, 720, 660, 520, 460, 360, 340, 320, 240, 240, 240, 220, 220, 220, 200, 200, 160, 160, 160, 140, 140, 120, 120, 120, 100, 100, 100, 100, 80, 80, 80, 80, 60, 60, 60, 60, 60, 60, 40, 40, 40, 40, 40, 40, 40, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20]

In [11]:
# prompt: Add a column to the dataframe called 'pred_family' that contains the following:
# - If the value_count of the 'family' is 40 or less, then 'Other'
# - Otherwise, keep the original value of 'family'

value_counts = df['family'].value_counts(ascending=False)
df['pred_family'] = df['family'].apply(lambda x: 'Other' if value_counts[x] <= 40 else x)
print(df.head())
print(df['pred_family'].value_counts(ascending=False))

                           name                              family  \
0  Black-bellied Whistling-Duck  Ducks, Geese, and Swans (Anatidae)
1  Black-bellied Whistling-Duck  Ducks, Geese, and Swans (Anatidae)
2  Black-bellied Whistling-Duck  Ducks, Geese, and Swans (Anatidae)
3  Black-bellied Whistling-Duck  Ducks, Geese, and Swans (Anatidae)
4  Black-bellied Whistling-Duck  Ducks, Geese, and Swans (Anatidae)

                                           embedding  \
0  [-0.005670225713402033, 0.03125672787427902, 0...
1  [-0.03728988766670227, 0.025586403906345367, -...
2  [-0.02664249949157238, 0.04850178211927414, 0....
3  [-0.03514464199542999, 0.026959339156746864, 0...
4  [-0.05087177827954292, 0.012625874020159245, 0...

                                       raw_recording  \
0  Okay, so I've got a duck here, good size, mayb...
1  Okay, little bit better view now. Standing by ...
2  There! Finally flying! Okay, definitely see a ...
3  Still pretty far away, but I can see a duck-li...
4  Landing now. See the pink legs sticking out ag...

                          pred_family
0  Ducks, Geese, and Swans (Anatidae)
1  Ducks, Geese, and Swans (Anatidae)
2  Ducks, Geese, and Swans (Anatidae)
3  Ducks, Geese, and Swans (Anatidae)
4  Ducks, Geese, and Swans (Anatidae)
pred_family
Ducks, Geese, and Swans (Anatidae)                                800
Wood-Warblers (Parulidae)                                         780
Other                                                             720
Towhees and Sparrows (Passerellidae)                              720
Sandpipers, Phalaropes, and Allies (Scolopacidae)                 660
Gulls, Terns, and Skimmers (Laridae)                              520
Tyrant Flycatchers (Tyrannidae)                                   460
Blackbirds (Icteridae)                                            360
Woodpeckers and Allies (Picidae)                                  340
Hawks, Kites, Eagles, and Allies (Accipitridae)                   320
Jays and Crows (Corvidae)                                         240
Bitterns, Herons, and Allies (Ardeidae)                           240
Cardinals, Piranga Tanagers and Allies (Cardinalidae)             240
Fringilline and Cardueline Finches and Allies (Fringillidae)      220
Auks, Murres, and Puffins (Alcidae)                               220
Thrushes (Turdidae)                                               220
Vireos (Vireonidae)                                               200
Wrens (Troglodytidae)                                             200
Chickadees and Titmice (Paridae)                                  160
Hummingbirds (Trochilidae)                                        160
Swallows (Hirundinidae)                                           160
Rails, Gallinules, and Coots (Rallidae)                           140
Pigeons and Doves (Columbidae)                                    140
Grebes (Podicipedidae)                                            120
Typical Owls (Strigidae)                                          120
Lapwings and Plovers (Charadriidae)                               120
Mockingbirds and Thrashers (Mimidae)                              100
Goatsuckers (Caprimulgidae)                                       100
New World Quail (Odontophoridae)                                  100
Cormorants (Phalacrocoracidae)                                    100
Partridges, Grouse, Turkeys, and Old World Quail (Phasianidae)     80
Caracaras and Falcons (Falconidae)                                 80
Nuthatches (Sittidae)                                              80
Ibises and Spoonbills (Threskiornithidae)                          80
Swifts (Apodidae)                                                  60
Cuckoos, Roadrunners, and Anis (Cuculidae)                         60
Shearwaters and Petrels (Procellariidae)                           60
Loons (Gaviidae)                                                   60
Skuas and Jaegers (Stercorariidae)                                 60
Longspurs and Snow Buntings (Calcariidae)                          60
Name: count, dtype: int64

In [12]:
X = pd.DataFrame(df['embedding'].tolist())
y = df['pred_family']

X.head()

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,-0.005670,0.031257,0.024194,0.019065,-0.010642,0.010769,0.008473,0.029615,-0.012113,-0.045429,...,0.032933,-0.025351,-0.015219,0.011457,-0.056603,0.025815,-0.007675,-0.034715,0.034644,0.017511
1,-0.037290,0.025586,-0.023516,-0.001923,-0.018404,-0.025943,-0.007776,-0.024614,-0.024128,-0.001324,...,0.017275,0.001317,0.001869,0.001307,-0.048640,0.015560,0.001194,-0.014198,0.019428,0.045738
2,-0.026642,0.048502,0.036331,-0.027529,0.001051,0.004019,0.000209,-0.018907,-0.002155,-0.034641,...,0.001582,0.028831,-0.024261,-0.012579,-0.015458,0.036560,0.041218,0.000531,0.006413,-0.012738
3,-0.035145,0.026959,0.020185,-0.017619,-0.004901,0.020210,0.014663,-0.025786,0.002994,-0.048650,...,0.020207,-0.038682,0.001430,0.022430,-0.054511,0.012445,-0.027285,-0.018549,0.025421,0.040538
4,-0.050872,0.012626,0.017226,-0.031940,0.009782,-0.003299,-0.013046,-0.035392,0.000995,-0.019688,...,-0.018691,-0.000055,-0.042163,-0.018476,-0.020169,0.011124,-0.000321,-0.018614,-0.018989,-0.001611

In [13]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

# Assume X and y are already defined as follows:
# X = pd.DataFrame(df['embedding'].tolist())  # Features (embedding dimensions)
# y = df['descriptor1']  # Target (class to predict)

# Step 1: Encode the target variable (if it's categorical)
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)  # Convert class labels to integers

# Step 2: Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y_encoded, test_size=0.2, random_state=42)

# Step 3: Train the XGBoost model
# Convert data into DMatrix format (optimized for XGBoost)
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

# Set XGBoost parameters
params = {
    'objective': 'multi:softmax',  # For multi-class classification
    'num_class': len(label_encoder.classes_),  # Number of unique classes
    'max_depth': 6,  # Maximum depth of a tree
    'eta': 0.1,  # Learning rate
    'subsample': 0.8,  # Subsample ratio of the training instances
    'colsample_bytree': 0.8,  # Subsample ratio of columns when constructing each tree
    'eval_metric': 'mlogloss',  # Evaluation metric for multi-class classification
    'seed': 42  # Random seed for reproducibility
}

# Train the model
num_rounds = 100  # Number of boosting rounds
model = xgb.train(params, dtrain, num_rounds)

# Step 4: Make predictions on the test set
y_pred = model.predict(dtest)

# Step 5: Evaluate the model
# Convert encoded predictions back to original class labels
y_pred_labels = label_encoder.inverse_transform(y_pred.astype(int))

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

# Print classification report
print("Classification Report:")
print(classification_report(y_test, y_pred, target_names=label_encoder.classes_, labels=np.arange(0, len(label_encoder.classes_), 1)))

Accuracy: 0.7899
Classification Report:
                                                                precision    recall  f1-score   support

                           Auks, Murres, and Puffins (Alcidae)       0.90      0.82      0.86        45
                       Bitterns, Herons, and Allies (Ardeidae)       0.97      0.70      0.81        50
                                        Blackbirds (Icteridae)       0.67      0.61      0.64        75
                            Caracaras and Falcons (Falconidae)       1.00      0.64      0.78        14
         Cardinals, Piranga Tanagers and Allies (Cardinalidae)       0.79      0.55      0.65        47
                              Chickadees and Titmice (Paridae)       0.82      0.84      0.83        37
                                Cormorants (Phalacrocoracidae)       1.00      0.42      0.59        19
                    Cuckoos, Roadrunners, and Anis (Cuculidae)       1.00      0.42      0.59        12
                            Ducks, Geese, and Swans (Anatidae)       0.85      0.91      0.88       171
  Fringilline and Cardueline Finches and Allies (Fringillidae)       0.96      0.70      0.81        33
                                   Goatsuckers (Caprimulgidae)       1.00      0.61      0.76        18
                                        Grebes (Podicipedidae)       0.95      0.87      0.91        23
                          Gulls, Terns, and Skimmers (Laridae)       0.95      0.88      0.92       118
               Hawks, Kites, Eagles, and Allies (Accipitridae)       0.84      0.79      0.81        89
                                    Hummingbirds (Trochilidae)       0.94      0.75      0.83        40
                     Ibises and Spoonbills (Threskiornithidae)       1.00      0.50      0.67        18
                                     Jays and Crows (Corvidae)       0.84      0.75      0.79        61
                           Lapwings and Plovers (Charadriidae)       0.91      0.53      0.67        19
                     Longspurs and Snow Buntings (Calcariidae)       0.50      0.08      0.14        12
                                              Loons (Gaviidae)       1.00      0.73      0.84        11
                          Mockingbirds and Thrashers (Mimidae)       0.65      0.69      0.67        16
                              New World Quail (Odontophoridae)       0.80      0.62      0.70        13
                                         Nuthatches (Sittidae)       1.00      0.78      0.88        18
                                                         Other       0.42      0.76      0.54       141
Partridges, Grouse, Turkeys, and Old World Quail (Phasianidae)       0.60      0.19      0.29        16
                                Pigeons and Doves (Columbidae)       0.95      0.77      0.85        26
                       Rails, Gallinules, and Coots (Rallidae)       0.89      0.59      0.71        29
             Sandpipers, Phalaropes, and Allies (Scolopacidae)       0.74      0.90      0.81       121
                      Shearwaters and Petrels (Procellariidae)       1.00      0.62      0.77         8
                            Skuas and Jaegers (Stercorariidae)       0.70      0.70      0.70        10
                                       Swallows (Hirundinidae)       0.78      0.70      0.74        30
                                             Swifts (Apodidae)       1.00      0.87      0.93        15
                                           Thrushes (Turdidae)       0.89      0.69      0.78        36
                          Towhees and Sparrows (Passerellidae)       0.83      0.92      0.87       132
                                      Typical Owls (Strigidae)       0.96      0.93      0.95        29
                               Tyrant Flycatchers (Tyrannidae)       0.90      0.88      0.89       100
                                           Vireos (Vireonidae)       0.91      0.76      0.83        38
                                     Wood-Warblers (Parulidae)       0.70      0.89      0.78       132
                              Woodpeckers and Allies (Picidae)       1.00      0.96      0.98        73
                                         Wrens (Troglodytidae)       0.88      0.78      0.83        37

                                                      accuracy                           0.79      1932
                                                     macro avg       0.86      0.70      0.76      1932
                                                  weighted avg       0.82      0.79      0.79      1932